@use "variables" as *;

* {
  padding: 0;
  font-family: $text-heading, sans-serif;
  color: white;
  background-color: $color-primary;
  box-sizing: border-box;
}

.introduction {
  &__h1 {
    font-size: 3.5rem;
  }
}

a:link,
a:visited {
  text-decoration: none;
}

.butbase {
  border-radius: 5%;
  background-color: $color-button;
  color: $color-footer;
  padding: 0.5rem 0.5rem;
  outline: none;
}
