@use "variables" as *;

* {
  padding: 0;
  font-family: $text-heading, sans-serif;
  color: white;
  background-color: $color-primary;
  box-sizing: border-box;
}

.introduction {
  &__h1 {
    font-size: 3.5rem;
  }
}

a:link,
a:visited {
  text-decoration: none;
}
