@use "variables" as *;

nav {
  display: none;
}

.introduction {
  &__p {
    font-size: 20px;
  }
  &__boy {
    display: none;
  }
}

.about {
  display: flex;
  flex-direction: column;
  // border: solid 2px green;
  &__h1 {
    align-self: center;
  }
  &__img {
    align-self: center;
    width: 70vw;
    border-radius: 5%;
  }
  &__riz {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: solid 2px green;
  &__h1 {
    align-self: center;
  }
  &__p {
    text-align: center;
  }
}

.techSkills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  text-align: center;

  &__grid1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  &__grid2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  &__grid3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  &__grid4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  &__grid5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  &__grid6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  &__grid7 {
    grid-area: 3 / 1 / 4 / 2;
  }
  &__grid8 {
    grid-area: 3 / 2 / 4 / 3;
  }
  &__grid9 {
    grid-area: 3 / 3 / 4 / 4;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  &__proj1,
  &__proj2 {
    margin-bottom: 1rem;
  }

  &__bcode,
  &__bpreview {
    border-radius: 5%;
    background-color: $color-button;
    color: $color-footer;
    padding: 0.5rem 0.5rem;
  }
  &__image {
    border: solid 1rem $color-project;
    border-radius: 15%;
  }
  &__card {
    margin: 1rem;
    background-color: red;
    &--desktop {
      display: none;
    }
  }
}

// REPLACED THIS WITH ".projects__card"
// &__h1,
// &__image,
// &__title,
// &__h3,
// &__p,
// &__bcode,
// &__bpreview {
//   &--desktop {
//     display: none;
//   }
// }

footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;
  // border: solid 2px green;
  background-color: $color-footer;
  p {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
  }
  &__connects {
    background-color: $color-footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    background-color: white;
    border-radius: 100%;
  }
  ul {
    background-color: $color-footer;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
}
.socials {
  background-color: $color-footer;
  &__connects {
    background-color: $color-footer;
  }
  &__img {
    border: $color-button;
    background: none;
    margin: 10px;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  nav {
    height: 10vh;
    display: flex;
    align-items: center;

    a:first-child {
      justify-content: flex-start;
      margin-right: auto;
    }
    .navBar {
      display: flex;
      justify-content: space-evenly;
      &__button {
        border-radius: 5%;
        background-color: $color-button;
        color: $color-footer;
        padding: 0.5rem 0.5rem;
      }
      &__right {
        padding: 2rem;
      }
      &__name {
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10%;
      }
    }
  }

  .introduction {
    // border: 2px green solid;
    display: flex;
    padding-left: 10%;
    align-items: center;
    &__text {
      flex-direction: column;
      text-align: left;
    }
    &__h1 {
      font-size: 5.9rem;
    }
    &__boy {
      display: block;
    }
  }

  .about {
    display: flex;
    // border: solid 2px green;
    &__h1 {
      align-self: center;
      text-align: left;
      font-size: 4rem;
    }
    &__flex {
      display: flex;
    }
    &__p {
      align-items: center;
      text-align: left;
      font-size: 1.6rem;
    }
    &__img {
      align-self: flex-start;
      width: 25vw;
      margin: 3rem;
      border-radius: 5%;
    }
  }

  .skills {
    &__p {
      font-size: 1.5rem;
    }
  }
  .techSkills {
    display: flex;
  }

  .projects {
    // border: solid 2px green;

    &__card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;

      &--desktop,
      &--mobile {
        padding: 2rem;
        display: block;
      }
    }

    &__image {
      &--desktop {
        border: solid 1rem $color-project;
        border-radius: 15%;
      }
    }

    .ProjGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;

      .proj1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .proj2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .proj3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .proj4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .proj5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .proj6 {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
  }
  .socials {
    &__connects {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }
    &__links {
      background: black;
      justify-content: space-evenly;
    }
    &__img {
      margin: 10px;
      justify-content: space-evenly;
    }
    &__p {
      align-items: flex-start;
    }
    &__ul {
    }
  }
}
