@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro&display=swap");

$text-heading: "Inter", sans-serif;
$text-primary: "Source Sans", sans-serif;

$color-primary: rgb(75, 38, 75);
$color-footer: black;
$color-button: white;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
